.imageDetection {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    position: relative;
    max-height: 550px;
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.imageDetection img {
    max-width: 780px;
    border-radius: 10px;
    max-height: 548px;
}

.imageStats {
    border: 1px solid white;
    width: 200px;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 5px;
    overflow: scroll;
}

.statHeader {
    color: lightgray;
    font-variant: small-caps;
}

.statData {
    border-bottom: 1px solid rgba(150,150,150,0.5);
    padding: 10px;
}

.statGroup:last-child .statData {
    border-bottom: none;
}

.imageStats > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statFoodGroup {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    border-bottom: 1px solid rgba(150,150,150,0.5);
}

.statFoodGroup:last-child {
    border-bottom: none;
}

.statFoodName {
    text-transform: capitalize;
    text-align: left;
}