.imageDetection {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    position: relative;
    max-height: 550px;
    max-width: 100%;
    margin: auto;
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.imageDetection img {
    max-width: 100%;
    max-height: 548px;
}

.imageStats {
    border: 1px solid white;
    width: 200px;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 5px;
    overflow: scroll;
}

.statHeader {
    color: lightgray;
    font-variant: small-caps;
}

.statData {
    border-bottom: 1px solid rgba(150,150,150,0.5);
    padding: 10px;
}

.statGroup:last-child .statData {
    border-bottom: none;
}

.imageStats > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statFoodGroup {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    border-bottom: 1px solid rgba(150,150,150,0.5);
}

.statFoodGroup:last-child {
    border-bottom: none;
}

.statFoodName {
    text-transform: capitalize;
    text-align: left;
}

@media screen and (max-width:700px){
    .imageDetection {
        flex-direction: column;
        justify-content: flex-start;
        max-height: none;
    }
    
    .imageStats {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .imageStats > div {
        max-width: 300px;
        margin: auto;
    }
}